<nav>
    <ul>
        <li>
            <a routerLink="">
                <i class="material-icons">home</i>
            </a>
        </li>
        <li>
            <a routerLink="employees">
                <i class="material-icons">person</i>
            </a>
        </li>
        <li>
            <a routerLink="employee-add">
                <i class="material-icons">person_add</i>
            </a>
        </li>
        <li>
            <a routerLink="tasks-list">
                <i class="material-icons">note</i>
            </a>
        </li>
        <li>
            <a routerLink="task-add">
                <i class="material-icons">note_add</i>
            </a>
        </li>
    </ul>
</nav>
